#token-hud .palette[data-palette="visibility"] {
    --cv-column-size: 32px;
    display: grid;
    grid-template-columns: repeat(4, 33px);
    padding: 3px;
    gap: 3px;
    color: var(--control-icon-color);

    > * {
		border: 1px solid transparent;

        &:hover {
    		border-color: var(--control-hover-border-color);
        }

        &.active {
    		border-color: var(--control-active-border-color);
        }
    }

    > a {
        grid-column: 1 / span 4;
        text-align: center;
        border-radius: 3px;
        padding: 3px;
        white-space: nowrap;

        &:hover {
            color: var(--control-hover-icon-color);
        }

        &.active {
            color: var(--control-active-icon-color);
        }
    }

    > img {
		cursor: pointer;
		width: var(--cv-column-size);
		height: var(--cv-column-size);
    }
}
